* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}

.header__navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #313131;
  height: 70px;
}

.wrap {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.block__logo {
  display: flex;
  align-items: center;
  padding: 0 27px;
}

.text__logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}

.nav__list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav__list li:not(:last-child) {
  margin-right: 35px;
}

.nav__item__link {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.nav__item__link:hover {
  color: #14b9d5;
}

.box__search {
  display: flex;
  background-color: #000;
  height: 100%;
  width: 70px;
}

.search {
  display: flex;
  align-items: center;
  padding: 22px 27px;
}

.search__img {
  height: 100%;
  object-fit: contain;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #855744;
  background-image: url(../img/intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 396px;
}

.banner__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 74px;
}

.main__slogan {
  color: #fff;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 44px;
}

.banner__buttons {
  display: flex;
  justify-content: center;
}

.banner__button {
  display: block;
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 16px 19px;
  color: #fff;
  text-decoration: none;
  width: 170px;
  text-align: center;
}

.banner__button.left {
  margin-right: 20px;
  background-color: #89ca62;
}

.banner__button.right {
  background-color: #14b9d5;
}

.popular__post {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f2f2f2;
}

.header__section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  line-height: 37px;
  font-weight: 700;
  color: #18b4cf;
  margin: 50px 0;
  text-transform: uppercase;
}

.wrap__popular__list {
  width: 79%;
}

.popular__post__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  list-style-type: none;
  max-height: 923px;

  padding: 0;
}

.post__item {
  text-align: center;
  background-color: #fff;
  margin: 15px 0;
}

.post__item:last-child {
  margin-bottom: 70px;
}

.post__item:nth-child(3n + 1) {
  order: 1;
}

.post__item:nth-child(3n + 2) {
  order: 2;
}

.post__item:nth-child(3n + 3) {
  order: 3;
}

.description__img {
  padding: 20px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.popular__client {
  display: grid;
  grid-template-rows: 1fr 1fr;

  height: 588px;
  background: url(../img/bgr-clients.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.container__header {
  margin: auto;
}

.line__popular__client {
  margin: 0 auto;
}

.header__popular__client {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.header__popular__client::after {
  content: "";
  width: 60px;
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  border-bottom: 3px solid #18b4cf;
}
.header__post {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin: 0;
}

.text__post {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}

.conteiner__popular__post__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 0 auto;
}

.top__rated {
  display: grid;
}
.header__section {
  grid-area: 1/1/1/8;
}

.container__main {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.grid__container {
  display: grid;
  margin-bottom: 71px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 44px 60px;
  grid-template-areas:
    "cart-horizontal-1 cart-horizontal-1 cart-horizontal-1 cart-small-1"
    "cart-center-1 cart-center-1 cart-center-2 cart-center-2"
    "cart-center-3 cart-center-3 cart-center-4 cart-center-4"
    "cart-small-2 cart-horizontal-2 cart-horizontal-2 cart-horizontal-2";
}
.cart-horizontal-1 {
  grid-area: cart-horizontal-1;
}
.cart-small-1 {
  grid-area: cart-small-1;
}
.cart-center-1 {
  grid-area: cart-center-1;
}
.cart-center-2 {
  grid-area: cart-center-2;
}
.cart-center-3 {
  grid-area: cart-center-3;
}
.cart-center-4 {
  grid-area: cart-center-4;
}
.cart-small-2 {
  grid-area: cart-small-2;
}
.cart-horizontal-2 {
  grid-area: cart-horizontal-2;
}

.cart-horizontal {
  display: flex;
  background-color: #f9f7f7;
}
.cart-horizontal .cart-info {
  padding: 41px 24px 40px 31px;
  text-align: right;
}
.cart-horizontal .cart-info h5 {
  margin-top: 0;
  margin-bottom: 14px;
}
.cart-horizontal .cart-info p {
  margin-bottom: 0;
}

.cart-small {
  background: #f9f7f7;
}

.cart-center {
  background: #f9f7f7;
}

.cart-info-small {
  text-align: center;
  padding-top: 30px;
}

.cart-info-center {
  text-align: right;
  padding: 12px 14px 0px 13px;
}

.header-section {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin: 0;
}

.text__section {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}

.text-hot-news {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 51px;
}

footer {
  /* position: absolute; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 80px;
  background-color: #000;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 13px;
  color: #fff;
}

.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav__item:hover {
  color: #14b9d5;
} */
