* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}

body {
  width: 1280px;
  margin: 0 auto;
}

header {
  margin-bottom: 50px;
}

.main__logo {
  display: inline-block;
  color: #000;
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;

  margin-top: 65px;
  margin-bottom: 40px;
}

.logo__color {
  color: deepskyblue;
}

.main__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  border-left: 0;
  border-right: 0;
  background: #35444f;
  padding: 0;
  height: 70px;
}

.main__list__item {
  display: flex;
  align-items: center;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.list__item__link {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  padding: 0 21px;
}

main {
  display: flex;
}

main aside {
  margin-right: 50px;
}

ul {
  margin: 0;
}

.left__menu {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #000000;
}

.content {
  display: flex;
  flex-direction: column;
}

.image__container {
  border: 1px solid #000;
  padding: 70px 0;

  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.menu__item {
  font-size: 27px;
  line-height: 27px;
}

.menu__item__link {
  white-space: nowrap;
  display: block;
  text-decoration: none;
  color: #495863;
  padding: 25px 140px 25px 45px;
}

.text {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 24px;
  margin: 35px 0;
}

.text:last-child {
  margin-bottom: 55px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(99, 105, 110, 0.48);
  height: 70px;
}

.bottom__list {
  display: flex;
}

.bootom__item__link {
  display: flex;

  margin: 0 10px;
  text-decoration: none;

  color: #0c1927;
}

.bot {
  display: flex;
}

.bottom__list__item {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 28px;
  line-height: 28px;
}

.text__container {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.bottom__text {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}

/*HOVER*/
.bootom__item__link:hover {
  color: deepskyblue;
  text-decoration: underline;
}

.menu__item__link div {
  transition: transform 0.2s ease;
}

.menu__item__link:hover {
  background-color: #dbdbdb;
}

.menu__item__link:hover div {
  transform: translateX(20px);
}

.list__item__link:hover {
  background-color: #222f3a;
}

.hover__img {
  transition: transform 0.4s ease-in-out;
}

.hover__img:hover {
  transform: scale(1.2);
}
/**/
