html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
}

body {
  height: 100%;
}

main {
  min-height: 100%;
  min-width: 100%;
}

.background__img {
  background-image: url(../img/background.png);
  object-fit: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: minmax(50px, auto) minmax(50px, auto);
  grid-template-areas:
    "header"
    "main";
  margin: auto;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 54px;

  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 58px;
  min-width: 100%;
}

.wrap {
  display: flex;
}

.main__header {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #fff;

  margin-left: 79px;
}

.hover-color:hover {
  color: #01813f;
  opacity: 0.41;
  transition: opacity 0.5s ease;
}

.header__link {
  text-decoration: none;
  color: #fff;
}

.block__header__link {
  display: flex;

  color: #fff;
  margin-right: 79px;
}

.text {
  display: flex;
}

.block__header__link::before {
  content: "";
  border-left: 2px solid #fff;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;

  display: flex;
  align-items: center;

  margin-right: 26px;
  margin-left: 26px;
}

.form__section {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  width: 444px;
  overflow: hidden;
  padding: 30px 60px 40px 60px;
  margin: auto;
}

.form__header {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.form__header::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  display: inline-block;
  position: absolute;
  left: 0;
}

.form__log-in {
  text-decoration: none;
  color: #3cb878;
}

.form__log-in:hover {
  text-decoration: underline;
}

.svg-color {
  fill: #fff;
}

.svg__link:hover .svg-color {
  fill: #3cb878;
  opacity: 0.41;
  transition: all 0.5s ease;
}

.svg__link {
  text-decoration: none;
}

.svg__link:not(:last-child) {
  margin-right: 25px;
}

.form__top {
  display: flex;
  justify-content: space-between;

  padding-bottom: 15px;
}

.top__form__btn {
  display: flex;
  justify-content: space-between;

  margin-bottom: 31px;
}

.button-svg {
  margin-left: 15px;
}

.button-fb,
.button-google {
  display: flex;
  align-items: center;
  width: calc(50% - 4px);
  height: 48px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-fb {
  background: #305db8;
}

.button-google {
  background: #df4a32;
}

.button-fb:hover {
  background: #022263;
  transition: all 2s ease;
}

.button-google:hover {
  background: #ab1f09;
  transition: all 2s ease;
}

.top__btn__text {
  color: #fff;
  font-size: 16px;
  line-height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook::before {
  content: "";
  width: 2px;
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;

  margin: 0 18px 0 18px;
}

.google::before {
  content: "";
  width: 2px;
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;

  margin: 0 30px 0 7px;
}

.line__container {
  display: flex;
  justify-content: center;
  position: relative;

  margin-bottom: 17px;
}

.form-text-or {
  position: relative;
  color: #848484;
  font-size: 14px;
  line-height: 14px;

  padding: 0 5px;
  background-color: #fff;
}

.line__container::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #f2f2f2;

  top: calc(50% + 1px);
}

.container__entry__field {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 20px;
}

.entry__field {
  width: 100%;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.entry__field::placeholder {
  color: #bebebe;
}

.entry__field:not(:last-of-type) {
  margin-bottom: 15px;
}

.entry__field:last-of-type {
  margin-bottom: 12px;
}

.entry__field:focus {
  border-color: #fff;
  outline: 0;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
}

.checkbox {
  width: 100%;
  display: flex;
  align-items: center;
}

.checkbox > a {
  text-decoration: none;
  color: #3cb878;
}

.checkbox:hover > a {
  text-decoration: underline;
}

.bot__btn {
  height: 46px;
  width: 100%;
  background: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.bot__btn:active {
  background: #01813f;
}
