* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: sans-serif;
}
img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}

.nav__list__item {
  margin-top: 25.5px;
  margin-bottom: 25.5px;
  display: inline-block;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: bold;
  line-height: 18px;
  font-size: 18px;
  text-transform: uppercase;
}

.nav__link {
  text-decoration: none;
  text-align: center;
  color: #ff0000;
}

.blocklist {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 49px;
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}

.first__text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-bottom: 28px;
  padding-left: 67.5px;
  padding-right: 67.5px;
  color: #373737;
}

.second__text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-bottom: 70px;
  padding-left: 67px;
  padding-right: 67.5px;
  color: #373737;
}

.btn__wrapper {
  text-align: center;
  margin-bottom: 80px;
}

.bottom__btn {
  font-weight: bold;
  color: #ffff;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.8px;
  text-decoration: none;
  text-transform: uppercase;
  border: 0 solid;
  background-color: #ff0000;
  padding: 14px 40px;
  border-radius: 4px;
}

.main__img {
  width: 100%;
}

.footer__aside {
  color: #373737;
  letter-spacing: 2.4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-align: right;
  margin-right: 120px;
  padding-bottom: 30px;
}
