* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

.background__images {
  background-image: url(../img/background\ 1.jpg);
  object-fit: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(3, minmax(20px, auto));
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: auto;
  max-width: 1030px;
  min-height: 100%;
}

header {
  height: 61px;
  grid-area: header;
  margin-top: 46px;
  margin-bottom: 17px;
  max-width: 1030px;
}
main {
  grid-area: main;
  margin-bottom: 48px;
  min-height: 560px;
}

footer {
  grid-area: footer;
}

.section__header {
  display: flex;
  justify-content: space-between;
}

.header__link {
  display: flex;
  text-decoration: none;
}

.text__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.img__logo {
  background: url(../img/logo.png) no-repeat;
  background-position: center;
  width: 53px;
  height: 47px;
}

.header__link:hover .img__logo {
  background: url(../img/logo2.png) no-repeat;
  background-position: center;
  width: 53px;
  height: 47px;
}

.header__link:hover .color {
  color: #f26522;
}

.title {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #fff;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.contact {
  display: flex;
  justify-content: end;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.mail {
  margin-bottom: 19px;
}

.mail:hover {
  color: #f26522;
}

.number:hover {
  color: #f26522;
}

.main__list {
  min-height: 560px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px 61px;
}

.cart__header {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-align: center;
}

.post__img {
  object-fit: cover;
  margin-bottom: 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  );
}

.main__list__item {
  text-align: center;
  max-width: 300px;
  max-height: 220px;
  position: relative;
}

.post__link {
  text-decoration: none;
}

.from {
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  margin: 7px 0 8px 16px;
}

.fifty {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 12px 16px;
}

.viev {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  margin: 29px 16px 12px 0;
}

.main__list__item:hover .cart__header {
  color: #f26522;
}

.pop-up__plate {
  background-color: #f26522;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  position: absolute;
  bottom: -55px;
  width: 100%;
  height: 55px;
  opacity: 0;
}

.main__list__item:hover .pop-up__plate {
  transition-property: visibility, opacity, bottom;
  transition-timing-function: ease-out;
  transition-delay: 0s, 0.1s;
  transition-duration: 500ms;
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

.plate__right__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  margin: 31px 16px 12px 0;
  transform: rotate(45deg);
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding-bottom: 15px;
}
